<footer>
  <p id="legal" class="center-block text-center text-secondary">
  <small>&copy;</small> <span class="copyright-year text-secondary"></span>
  A class project by Ella Barnes.
  </p>
</footer>
