<div id="jumbo" class="p-5 mb-4 bg-light">
    <div id="jumbo-box" class="container-fluid py-5 text-center">
        <h1 id="jumbo-head" class="display-5 fw-bold">Ella's Ratings</h1>
        <p id="jumbo-sub">of Taylor Swift's discography</p>
    </div>
</div>