<div id="jumbo" class="p-5 mb-4 bg-light">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Ella's Rankings</h1>
        <p>My rankings of all of Taylor Swift's discography</p>
    </div>
</div>