{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ album_name }}{% endblock %}

{% block page_description %}{{ album_name }} released in {{ year}} {% endblock %}

{% block content %}
  <article class="container">
    <section class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <figure class="figure" id="album-cover">
            <img src="../img/album-photos/{{slug}}.jpg" alt="{{album_name}} album cover">
          </figure>
        </div>
        <div class="col-md-6 col-lg-8">
          <h1 id="album-name">{{ album_name }}</h1>
          <h4 id="rating">{{rank}} / 10</h4>
          <h4 id="spotify-link"> <a href="{{spotify_link}}" id="spotify-text"> Listen to {{album_name}} on Spotify.</a> </h4>
          <p id="blurb">{{ blurb | safe }}</p>
        </div>
      </div>
    </section> 
    <section class="container" id="tracklist">
    <h2 class="text-center" id="track-head"> Ella's rating of {{album_name}}'s songs</h2>
    <div class="row row-cols-2 row-cols-md-2 row-cols-lg-2 g-1">
    {%  for song in songs.Sheet1 %}
      {% if song.album_name == album_name %}
        <div class="col">
          <p class="text-center text-white" id="song-title">{{song.song_title}}</p>
        </div>
        <div class="col">
          <p class="text-center text-right text-white ">{{song.rank}} / 10</p>
        </div>
      {% endif%}
    {% endfor %}
    </div>
  </section>
  </article>
{% endblock %}
