{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ album_name }}{% endblock %}

{% block page_description %}{{ album_name }} released in {{ year}} {% endblock %}

{% block content %}
  <article class="container">
    <h1 class="text-center">{{ album_name }}</h1>
    <div class="col-12 text-center">
      <figure class="figure">
        <!-- find larger img -->
        <img src="../img/album-photos/{{slug}}.jpg" alt="{{album_name}} album cover" class="bake-img">
      </figure>
      <h3> {{rank}} / 10</h3>
      <a href="albums/{{album.slug}}.html" class="card-link"> {{album_name}} on Spotify. </a>
      <p>{{ blurb | safe }}</p>
    </div>
    <p class="text-center">additional content here</p>
  </article>
{% endblock %}
