{% extends '_templates/base.njk' %}

{% block page_title %}Ella's ratings{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Main headline here</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
</div>
<div class="row row-cols-1 row-cols-md-1 g-4 justify-content-center">
  {% for album in albums.Sheet1 %}
  <div class="col">
    <div class="card">
      <img src="img/jumbo.jpg" class="card-img-top" alt="Image of {{ album.album_name }} album cover.">
      <div class="card-body ">
        <h3 class="card-title"> {{ album.album_name }} </h3>
        <h6 class="card-text"> {{ album.rank }} / 10</h6>
        <p> {{ album.blurb}} </p>
        <a href="albums/{{album.slug}}.html" class="card-link"> {{album.album_name}} tracklist </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}