// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
$primary: #d1b2d2;
$secondary: #823549;
$link-color: #b5e9f6;
$lime: #b9d2b5;


/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import 'jumbotron';

h1 {
  color: $secondary;
  font-family: 'Bebas Neue', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

#tracklist {
  border-radius: 25px;
  background-color: $primary;
}

#track-head {
  color: $secondary;
  font-family: 'Bebas Neue', sans-serif;
}

#album-name {
  font-size: 3rem;
  text-align: center;
}

#rating {
  font-family: 'Mulish', sans-serif;
  font-style: italic;
  background-color: $lime;
  border-radius: 5px;
  color: white;
  text-align: center;
}

#spotify-link {
  font-family: 'Mulish', sans-serif;
  background-color: $primary;
  color: white;
  text-align: center;
  border-radius: 5px;
}

#spotify-text{
  color: white;
}

#blurb {
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

#album-coevr {
  text-align: justify;
}